[test]
ListInsert.NoElements                        =  .5
ListInsert.IntMax                            =  .25
ListInsert.IntMin                            =  .25
ListInsert.ThreeElements                     =  .5
ListInsert.50RandomElements                  =  1
ListInsert.WrapAround_50RandomElements       =  1
ListInsert.10000RandomElements               =  1
ListBasic.ConstructionDestruction            =  .25
ListBasic.OneItemAdd                         =  .25
ListBasic.ThreeItemAdd                       =  .25
ListBasic.Empty                              =  .25
ListBasic.OneItemRemove                      =  .25
ListBasic.ThreeItemRemove                    =  .5
ListBasic.Set                                =  .25
ListBasic.CircularIndicies                   =  .5
ListRemove.ZeroElementRemove                 =  .5
ListRemove.RepeatedOneEleRemove              =  .5
ListRemove.Head2Elements                     =  .5
ListRemove.Tail2Elements                     =  .5
ListRemove.Head3Elements                     =  .5
ListRemove.Middle3Elements                   =  .5
ListRemove.Tail3Elements                     =  .5
ListRemove.ThreeElementsAscending            =  .5
ListRemove.ThreeElementsDescending           =  .5
ListRemove.ThreeElementsWraparoundAscending  =  .5
ListRemove.ThreeElementsWraparoundDescending =  .5
ListRemove.50ElementsAscending               =  1
ListRemove.50ElementsDescending              =  1
ListRemove.50ElementBreakdownBuildup         =  1
ListRemove.50ElementsDescWraparound          =  1
ListSet.ZeroElementSet                       =  .5
ListSet.Head3Elements                        =  .5
ListSet.Middle3Elements                      =  .5
ListSet.Tail3Elements                        =  .5
ListSet.ThreeElementsWraparound              =  .5
ListSet.50RandomElements                     =  1