[test]
DDGRoundBasic.TwoPlayers             =  1
DDGBasic.FivePlayers                 =  1
DDGRuntime.DDGRound                  =  2
DDGRound.TwoPlayers                  =  1
DDGRound.FivePlayers                 =  1
DDGRound.GooseSelectionProbability   =  2
DDGRound.ChaseWinningProbability     =  2
DDGRound.RandomStressTest            =  2
DDGProgram.TwoPlayers                =  2
DDGProgram.TwentyPlayers             =  3
DDGProgram.TwoHundredPlayers         =  3