[test]
SelectionSort.01_NullList          = 1
SelectionSort.02_TwoElements       = .5
SelectionSort.03_Ascending         = 1
SelectionSort.04_Descending        = 1
SelectionSort.05_Uniform           = 1
SelectionSort.06_Repeating         = 1
SelSortBasic.OneElementFindMin     = .5
SelSortBasic.ThreeElementFindMin   = .5
SelSortBasic.TenElementFindMin     = .5
SelSortBasic.ThreeElementSort      = .5
SelSortBasic.TenElementSort        = .5
SelSortRuntime.FindMin             = 1
SelSortRuntime.SelectionSort       = 1