[test]
Stack.ConstructionDestruction   = .5
Stack.ZeroElements              = .5
Stack.OneElementAdd             = 1
Stack.OneElementRemove          = 1
Stack.ThreeElementAddRemove     = 1
Stack.10EleStressTest           = 1
Stack.500EleStressTest          = 1
Stack.10000EleStressTest        = 1
StackRuntime.Push               = 1
StackRuntime.Pop                = 1
StackRuntime.Top                = 1
