[test]
AVLBST.ConstructionDestruction      = 0.5
AVLInsert.OneNode                   = 0.5
AVLInsert.DoubleInsertLeft          = 0.5
AVLInsert.DoubleInsertRight         = 0.5
AVLInsert.InsertZigZigLeft          = 0.5
AVLInsert.InsertZigZigRight         = 0.5
AVLInsert.InsertZigZagLeft          = 0.5
AVLInsert.InsertZigZagRight         = 0.5
AVLInsert.7Elements                 = 0.5
AVLClear.Clear                      = 0.5
AVLInsert.Duplicates                = 0.5
AVLInsert.Random50x30ele            = 0.5
AVLInsert.Random3x5000ele           = 1
AVLRemove.EmptyTree                 = 0.5
AVLRemove.NodeMismatch              = 0.5
AVLRemove.SingleRemove              = 0.5
AVLRemove.RightChildRemove          = 0.5
AVLRemove.LeftChildRemove           = 0.5
AVLRemove.TwoChildrenRemove_3Node   = 0.5
AVLRemove.TwoChildrenRemove_4Node   = 0.5
AVLRemove.Random50x30ele            = 0.5
AVLStress.InsertRemove              = 1
AVLStress.Remove                    = 0.5
AVLRuntime.InsertAscending          = 0.5
AVLRuntime.InsertDescending         = 0.5
AVLRuntime.InsertRandom             = 0.5
AVLRuntime.RemoveMin                = 0.5
AVLRuntime.RemoveMax                = 0.5
