[test]
BST.ConstructionDestruction         = 0.5
BSTInsert.JustRoot                  = 1
BSTInsert.DoubleInsertLeft          = 1
BSTInsert.DoubleInsertRight         = 1
BSTInsert.InsertZigZigLeft          = 1
BSTInsert.InsertZigZigRight         = 1
BSTInsert.InsertZigZagLeft          = 1
BSTInsert.InsertZigZagRight         = 1
BSTInsert.7Elements                 = 1
BSTClear.Clear                      = 1
BSTFind.InvalidFind                 = 1
BSTInsert.Duplicates                = 1
BSTInsert.BasicRandom               = 1
BSTInsert.Random50x30ele            = 1
BSTInsert.Random3x5000ele           = 1
BSTRemove.EmptyTree                 = 0.5
BSTRemove.NodeMismatch              = 1
BSTRemove.SingleRemove              = 1
BSTRemove.RightChildRemove          = 1
BSTRemove.LeftChildRemove           = 1
BSTRemove.TwoChildrenRemove_3Node   = 1
BSTRemove.TwoChildrenRemove_4Node   = 1
BSTRemove.Random50x30ele            = 1
BSTStress.InsertRemove              = 1
BSTStress.Remove                    = 1
BSTBalance.EmptyTree                = 1
BSTBalance.OneNode                  = 1
BSTBalance.3Nodes_Unbalanced        = 1
BSTBalance.3Nodes_Balanced          = 1
BSTBalance.UnbalancedSubtree        = 1
BSTBalance.Random50x30ele           = 1
