[test]
Rotate.Test1_BiggerLeftRootRotate               = 2
Rotate.Test2_BiggerRightRootRotate              = 2
Rotate.Test3_RightNonRootRotateRightChild       = 1
Rotate.Test4_LeftNonRootRotateLeftChild         = 1
Rotate.Test5_RightRotateNoLeftChildRightChild   = 1
Rotate.Test6_LeftRotateNoRightChildLeftChild    = 1
Rotate.Test7_LeftDontRotate                     = 1
Rotate.Test8_RightDontRotate                    = 1
SameKeys.Empty                                  = 1
SameKeys.JustRoot                               = 1
SameKeys.SameOrder                              = 1
SameKeys.DifferentOrder                         = 1
SameKeys.DifferentKeys                          = 1
SameKeys.MissingKey                             = 1
SameKeys.SameRandom50x30ele                     = 2
SameKeys.DifferentRandom50x30ele                = 2
Transform.Empty                                 = 1
Transform.OneElement                            = 1
Transform.AlreadyLL                             = 1
Transform.DifferentTrees                        = 1
Transform.AlreadyBackwardsLL                    = 1
Transform.BasicTree                             = 1
Transform.Random50x30ele                        = 2
Transform.Random3x5000ele                       = 2

