[test]
Parser.JustNumber                           = 1
ParserMalformed.OneOperandParen             = 1
Parser.SpaceBefore                          = 1
Parser.SpaceAfter                           = 1
Parser.SimpleLShift                         = 1
Parser.ShiftWithSpaces                      = 1
Parser.SimpleRShift                         = 1
Parser.SimpleAdd                            = 1
Parser.AddWithoutSpaces                     = 1
Parser.SimpleMultiply                       = 1
Parser.ThreeItemAdd                         = 1
Parser.AddUnevenWhitespace                  = 1
Parser.ThreeItemMultiply                    = 1
Parser.ShiftAdd                             = 1
Parser.ShiftMultiply                        = 1
ParserMalformed.NestedParen                 = 1
ParserMalformed.EmptyParen                  = 1
ParserMalformed.AddWithoutParens            = 1
ParserMalformed.MultiplyWithoutParens       = 1
Parser.NestedMultiply                       = 1
Parser.MultiplyShiftCombo                   = 2
Parser.SimpleMultiExprFile                  = 1
Parser.AdditionMultiExprFile                = 1
Parser.MultiplicationMultiExprFile          = 2
Parser.ArbitraryWhitespace                  = 1
Parser.BlankLines                           = 1
ParserMalformed.DifferentOperators          = 1
ParserMalformed.MissingPlusOperand          = 1
ParserMalformed.ShiftBeforePlus             = 1
ParserMalformed.InvalidOperator             = 1
ParserMalformed.PartiallyMalformedFile      = 2
ParserStress.ExpressionAssortment           = 2
ParserStress.MegaExpressionAssortment       = 2
ParserStress.GrandFinale                    = 2