[test]
Cave.OneMove                   = 1
Cave.TwoMoves                  = 1
Cave.OneTripEW                 = 1
Cave.OneTripWE                 = 1
Cave.OneTripNS                 = 1
Cave.SmallLoop                 = 1
Cave.LargeLoop                 = 1
Cave.LoopRetrace               = 1
Cave.Branching                 = 1
Cave.RightMovesWrongOrder      = 1
CaveStress.TenThousandMoves    = 2
CaveStress.RandomMovements     = 1
CaveStress.RandomCorrectPath   = 2
