[test]
Fatalist.OneStudent                  =    1
Fatalist.AllEqual                    =    1
Fatalist.Higher170Grade              =    1
Fatalist.Higher104Grade              =    1
Fatalist.BothGradesHigher            =    1
Fatalist.NonConformantData           =    1
Fatalist.LargerConformantGroup       =    2
Fatalist.LargerNonConformantGroup    =    2
Fatalist.VeryNonConformantGroup      =    1
FatalistStress.ConformantGroup       =    2
FatalistStress.NonConformantGroup    =    1
FatalistRuntime.FatalistHypothesis   =    1
