[test]
FunctorSimple.Numbers                     =  .5
FunctorSimple.CapitalLetters              =  .25
FunctorSimple.Word1                       =  .5
FunctorSimple.Word2                       =  .5
FunctorSimple.RepeatedCharacter           =  .25
FunctorSimple.LongWord                    =  .5
FunctorSimple.ExactValue                  =  .5
FunctorTiebreaker.SimpleLexicographic     =  .5
FunctorTiebreaker.ComplexLexicographic    =  .5
FunctorTiebreaker.NotLexicographic        =  .25
FunctorTiebreaker.Equal                   =  .25
FunctorUnknownChars.TreatedAsZero         =  .25
FunctorUnknownChars.EmptyString           =  .25
