[test]
MSortTest.SortEmpty                      = 1
MSortTest.SortSingleElement              = 1
MSortTest.SortTwoElements_InOrder        = 1
MSortTest.SortTwoElements_OutOfOrder     = 1
MSortTest.SortThreeElements_10_20_30     = 1
MSortTest.SortThreeElements_10_30_20     = 1
MSortTest.SortThreeElements_20_10_30     = 1
MSortTest.SortThreeElements_20_30_10     = 1
MSortTest.SortThreeElements_30_10_20     = 1
MSortTest.SortThreeElements_30_20_10     = 1
MSortTest.SortThreeElements_Greater      = 1
MSortTest.SortStrings                    = 1
MSortTest.SortPairs                      = 1
MSortTest.Split_k_20                     = 2
MSortTest.Split_k_50                     = 1
MSortTest.Split_k_100                    = 1
MSortTest.Split_k_200                    = 1
MSortTest.Stress10Elements_Less          = 1
MSortTest.Stress100Elements_Less         = 1
MSortTest.Stress1000Elements_Less        = 2
MSortTest.Stress10000Elements_Less       = 1
MergeSortRuntime.KEqual2                 = 1
MergeSortRuntime.KEqualN                 = 1
